{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="{% static 'admin/js/handler.js' %}" type="text/javascript"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app="IMG-HST" ng-controller="IMG-CTR">
    <div class="container">


    <form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
          <input type="email" class="form-control" ng-model="email" id="exampleFormControlInput" placeholder="name@example.com">
        </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" ng-model="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
   <button style='margin-left:50%;' type="submit" ng-click ="login_ng()" class="btn btn-primary">Log In</button>
</form>

</div>
  </body>
</html>

{% endblock %}
