{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="{% static 'admin/js/handler.js' %}" type="text/javascript"></script>
    <meta charset="utf-8">
    <title></title>
  </head>


  <body ng-app="IMG-HST" ng-controller="IMG-CTR" >

    <div class="container">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name123">First Name</label>
            <input type="text" class="form-control" id="name123" ng-model="first_name" placeholder=" First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="lastname123">Last Name</label>
            <input type="text" class="form-control" id="lastname123" ng-model="last_name" placeholder="Last Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" ng-model="email" placeholder="abcddef@gmail.com">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" ng-model="password" placeholder="Password">
          </div>
        </div>
        <button style = "margin-left:45%; margin-top:2%;"type="submit" ng-click ="signup_ng();" class="btn btn-primary">Sign up</button>
      </form>
    </div>

  </body>
</html>
{% endblock %}
