{% load static %}

<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="{% static 'admin/js/upload.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" href="{% static 'admin/css/upload.css' %}"/>
	<title></title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

	<div class="frame">
  <div class="center">
		<div class="bar"></div>
		<div class="title">Drop file to upload</div>
		<div class="dropzone">
			<div class="content">
				<img src="http://100dayscss.com/codepen/upload.svg" class="upload">
				<span class="filename"></span>
				<input type="file" class="input">
			</div>
		</div>
		<img src="http://100dayscss.com/codepen/syncing.svg" class="syncing">
		<img src="http://100dayscss.com/codepen/checkmark.svg" class="done">
		<div >
			<button type="submit" ng-click ="upload_ng();"class="upload-btn">Upload picture</button>
		</div>
  </div>
</div>

</body>
</html>